.slider {
   &__wrapper {
      position: relative;
      * {
         user-select: none;
      }
   }

   &__items {
      width: 100%;
      height: auto;
      display: flex;
      overflow-x: hidden;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;
      cursor: move;

      &:hover {
         cursor: move;
      }

      &:active {
         cursor: grabbing;
         scroll-snap-type: x none;
      }

      &::-webkit-scrollbar {
         visibility: hidden;
      }

      &::after {
         content: "";
         display: table;
         position: relative;
         width: 0px;
         height: 0px;
      }
   }

   &__item {
      flex: none;
      width: 100%;
      height: auto;
      margin: 0 !important;
      padding: 0 !important;
      position: relative;
      scroll-snap-align: center;
      transition: 1s;
   }

   &__nav {
      display: flex;
      justify-content: center;
      grid-gap: 1rem;
      height: 1rem;
      margin: 3rem auto;
      flex-wrap: wrap;

      .dot {
         height: 0;
         cursor: pointer;
         opacity: 0.6;

         &::after {
            content: "";
            display: block;
            background-color: var(--token-background-secondary);
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 0.75rem;
            transition: 0.5s;
            transition-delay: 0.1s;
            filter: brightness(0.5);
         }

         &:hover {
            opacity: 0.8;
         }

         &:checked,
         &.checked {
            opacity: 1;

            &::after {
               position: relative;
               width: 1.5rem;
               left: -0.375rem;
               transition: 0.5s;
            }
         }
      }
   }
}
